/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center{
    text-align: center;
}

.block{
    display: block;
}

.search-form-field{
    flex-direction: inherit !important;
}

.title{
    font-weight: bold;
    color: #c21500;
}

.py-10{
    padding: 50px;
}

.text-highlight{
    color: #c21500;
}

.text-mute{
    color: darkgray;
}
